.cart-container {
    max-width: 750px;
    margin: 0px 80px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .my_bag{
    margin:0px 80px 0px 80px;
  }
  .deal_of_day {
    max-width: 100%;
    margin: 0px 80px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid orangered;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); */
    overflow: hidden;
    padding: 5px;
    text-align: center;
    h1{
        color: #007185;
        display: flex;
        display: inline-flex;
    }
    h3{
        display: inline-flex;
        font-weight: bolder;
    }
  }
  
  .cart-item {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
  
  .item-image {
    width: 170px;
    height: 200px;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .item-details {
    margin-left: 10px;
    flex: 1;
    h3{
        font-size: 18px;
    }
    p{
        margin-top: 5px;
        font-weight: 300;
    }
    button{
        margin-left: 200px;
    }
    input{
        display: inline-flex;
        width: 20px;
        text-align: center;
        border: 0px;
    }
    .qu_btn{
        border: 0px;
        background-color: white;
        font-weight: 1.5rem;
    }
   #qu_in_style{
       border-radius: 100%;
       border:1px solid black;
       margin-left: 39px;
   }
   
    #q_content{
        button{
        margin-left: 30px;
        }
    }
    #save_btn{
        background-color:orange;
        border-radius: 10px;
        border: 1px solid orangered;
        color:white;
        font-weight: 600;
        height: 25px;
    }
  }   
  
  
  .delete_bt {
   background-color: white;
   border:1px solid white;
   color: blue;
  }
  #delete_button{
    margin-left: 580px;
  }
  
  #q_content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 250px;
    height:100px
  }
  
  #openqcard {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
  }
  
  .shipping_amt{
   width:275px;
   height:250px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   margin-top: -50px;
   margin-left: 950px;
   padding:20px;
   button{
       margin-top: 150px;
       height:35px;
       margin-left: 17px;
       width: 240px;
       background-color: orange;
       border:1px solid orangered;
   }
  }
  
  .coupon{
    width:275px;
    height:400px;
    margin-left: 950px;
    margin-top: 20px;
    padding:20px;
    border:1px dashed orange;
    input{
        height:30px;
        width: 175px;
        border:1px solid grey;
        padding-left:20px;
    }
    button{
        height:33px;
        background-color:rgb(241, 236, 236);
        border:1px solid grey;
    }
    input[type="checkbox"]{
        height: 15px;
        width:15px;
        margin-top:5px;
    }
    .inner_dis{
        font-size: 0.8rem;
        padding:20px;
        margin-top: -45px;
        margin-left: 10px;
        h4{
            margin-top: -7px;
        }
        p{
            margin-top: -9px;
        }
    }
    .cu_div{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        height: 100px;
    }
  }


