<% layout("/layouts/boylerplate") -%>
    <link rel="stylesheet" href="/css/create_new_account.css">
    
    <div>
        <form action="/signup" class=" signUp-card-form" method="post"></form>
        <button class="name" style="margin-left: 570px; margin-top:30px;background-color: white;color:black;border:none"  onclick=" handleClick()"><h4>TrendSphere</h4><h5>.in</h5></button></div><div></div>
        <div class="card2">
            <h1>Create Account</h1>
            <p><label for="username">Username</label></p>
            <input type="text" style="width:100%;height:25px">
            <p><label for="mobile">Mobile number</label></p>
            <input type="text" style="width:100%;height:25px">
            <p><label for="email"></label>Email(Optional)</p>
            <input type="text" style="width:100%;height:25px">
            <p><label for="password">Password</label></p>
            <input type="password" placeholder="Atleast 6 characters" style="width:100%;height:25px;padding-left: 6px;">
            <p>
                To verify your number, we will send you a text message with a temporary code. Message and data rates may apply.
            </p>
            <button  type="submit" style="width:100%;background-color: yellow;height: 25px;border-radius: 5px;">Verify mobile number</button>
        </form>
             <hr style="color: darkgray;margin-top:25px">
             <p class="bold">Buying for work?</p>
             <a href="#" style="text-decoration: none;">Create a free business account</a>
            
             <div class="bottom">
                <hr style="color: darkgrey;text-shadow: 2px;">
             <p>Already have an account?
                <a href="#" >&#x00BB;Sign in</a>
            </p>
            <p>
                By creating an account or logging in, you agree to  TrendSphere’s <a href="#" style="text-decoration: none;"> Conditions of use</a>
                and <a href="#" style="text-decoration: none;">Privacy Notice</a>
            </p>
           </div>
        </div>
   
    </div>
